<img 
  src="/assets/imgs/StartPagePhoto.png"
  alt="StartPagePhoto"
  class="startPagePhoto"
> 

<div class="small-book-info">
<div class="info-section">
  <img src="/assets/svg/planeIcon.svg" alt="plane">
  <div>Where are you going?</div>
</div>
<div class="info-section"><p class="info-section divider"> | </p></div>
<div class="info-section">
  <img src="/assets/svg/calendarIcon.svg" alt="calendar">
  <div>Check in - Check out</div>
</div>
<div class="info-section"><p class="info-section divider"> | </p></div>
<div class="info-section">
  <img src="/assets/svg/peopleIcon.svg" alt="people">
  <div>2 adults 0 children 1 room</div>
  <img src="/assets/svg/arrows.svg" alt="arrow"> 
</div>
<div class="info-section">
  <img src="/assets/svg/searchnormal.svg" alt="searchNormal" class="search-icon" (click)="openSearch()">
</div>
</div>