<!-- <nav class="custom-nav">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Hotel for <b>you</b>.</a>
        <ul class="start-menu-list">
            <li>
                <a class='dropdown-trigger nav-item' href='#' data-target='dropdown1'>
                  <img src="assets/imgs/EngFlag.png" alt="UK Flag">
                </a>
            </li>
            <li><a href="sass.html" class="register-btn">Register</a></li>
            <li><a href="badges.html" class="signIn-btn">
                <img src="/assets/svg/signInIcon.svg">
                Sign In</a></li>
        </ul>
    </div>
</nav> -->
<nav class="navbar">
  <div class="left-buttons">
    <a>Hotel for <span style="color: blueviolet;">you</span>.</a>
  </div>
  <div class="right-buttons">
    <a>
      <img src="assets/imgs/EngFlag.png" alt="UK Flag" class="uk-flag">
    </a>
    <a class="register-btn" (click)="openRegisterModal()">Register</a>
    <a class="signIn-btn" (click)="openSignInModal()">
      Sign In  
      <img src="/assets/svg/signInIcon.svg">
    </a>
  </div>
</nav>
<app-sign-in-modal 
  [isVisible]="isSignInModalVisible" 
  (close)="closeSignInModal()" 
  (openRegister)="openRegisterModal()">
</app-sign-in-modal>

<app-register-modal 
  [isVisible]="isRegisterModalVisible" 
  (close)="closeRegisterModal()" 
  (openAuthentication)="handleOpenAuthentication()">
</app-register-modal>

<app-authentication-code-modal 
  [isVisible]="isAuthenticationCodeModalVisible" 
  (close)="closeAuthenticationCodeModal()" 
  (openInformation)="openInformationModal()">
</app-authentication-code-modal>

<app-information-modal 
  [isVisible]="isInformationModalVisible" 
  (close)="closeInformationModal()" 
  (openAllDone)="openAllDoneModal()">
</app-information-modal>

<app-all-done-modal 
  [isVisible]="isAllDoneModalVisible" 
  (close)="closeAllDoneModal()" 
  (openInformation)="openAllDoneModal()">
</app-all-done-modal>