.footer {
    background-color: var(--light-color);
    border-top: 1px solid #DDDDDD;
    color: #717171;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 225px;
    padding: 20px 0;
    text-align: left;
  } 
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 368px;
  }
  
  .footer-column {
    flex: 1;
    margin: 0 10px;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column li {
    margin-bottom: 5px;
  }
  
  @media (max-width: 1920px) {
    .footer-content {
      padding-left: 368px;
      padding-right: 368px;
    }
  
    .footer-column {
      max-width: calc(100% / 5 - 20px);
    }
  }
  
  @media (max-width: 1366px) {
    .footer-content {
      padding-left: 50px;
      padding-right: 50px;
    }
  
    .footer-column {
      max-width: calc(100% / 5 - 20px);
    }
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .footer-column {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }  