<div class="main-container">
    <div class="head-info">
        <div class="head-info-left-block">
            <div class="head-info-icons">
                <div class="single-head-info-icon">
                    <div><img src="/assets/svg/planeIcon.svg" alt="planeIcon"></div>
                    <div>Kyiv</div>
                    <div><img src="/assets/svg/threepurpledots.svg" alt="threepurpledots"></div>
                </div>
    
                <div class="single-head-info-icon">
                    <div><img src="/assets/svg/calendarIcon.svg" alt="calendarIcon"></div>
                    <div>Apr 9-11</div>
                    <div><img src="/assets/svg/threepurpledots.svg" alt="threepurpledots"></div>
                </div>
    
                <div class="single-head-info-icon">
                    <div><img src="/assets/svg/peopleIcon.svg" alt="peopleIcon"></div>
                    <div>2 ad. 1 ch.</div>
                    <div><img src="/assets/svg/threepurpledots.svg" alt="threepurpledots"></div>
                </div>
            </div>
    
            <div class="head-hotel-name">
                <div class="head-hotel-name-stars">
                    <img src="/assets/svg/purpleStar.svg" alt="purpleStar">
                    <img src="/assets/svg/purpleStar.svg" alt="purpleStar">
                    <img src="/assets/svg/purpleStar.svg" alt="purpleStar">
                    <img src="/assets/svg/purpleStar.svg" alt="purpleStar">
                </div>
                <div class="head-hotel-name-name">
                    Tourist Hotel
                </div>
                <div class="head-hotel-name-phone">
                    (380) 555-0103
                </div>
            </div>
        </div>

        <div class="head-info-right-block">
            <div class="rate-reviews">
                <div class="rate">7.9</div>
                <div class="reviews">
                    <div class="common-text">reviews</div>
                    <div class="common-text">345</div>
                </div>
            </div>
    
            <div class="check-btn">
                <div class="check-btn-txt">check</div>
                <img src="/assets/svg/arrowdown2.svg" alt="arrowdown2">
            </div>
        </div>
    </div>

    <div class="preview-part">
        <div class="preview-part-photo">
            <div class="preview-part-big">
                <img src="/assets/imgs/hoteldetails1.png" alt="hoteldetails1">
            </div>
            <div class="preview-part-small">
                <img src="/assets/imgs/hoteldetails2.png" alt="hoteldetails2">
                <img src="/assets/imgs/hoteldetails3.png" alt="hoteldetails3">
                <img src="/assets/imgs/hoteldetails4.png" alt="hoteldetails4">
            </div>
            <div class="preview-part-small">

            </div>
        </div>

        <div class="preview-txt">
            <div class="preview-txt-head">
                <div class="preview-txt-head-header">
                    <div class="preview-txt-head-price">
                        <span style="font-weight: 700; color: var(--purple-color);">85$ </span> 
                        <span style="font-weight: 600; color: var(--gray-color);">per night</span>
                    </div>
                    <div class="preview-txt-head-location">
                        <img src="/assets/svg/location.svg" alt="location">
                        LVIV STREET 8 | KYIV
                    </div>
                </div>
                <button>BOOK</button>
            </div>

            <div class="preview-main-info">
                Located in the heart of Kiev, our hotel offers a prime location for exploring 
                the city's rich history and culture. With luxurious accommodations and top-notch 
                amenities, we provide a comfortable and relaxing stay for all our guests. Whether 
                you're traveling for business or leisure, our attentive staff is always on hand 
                to assist with any needs you may have. 
            </div>
        </div>
    </div>
</div>

<div class="back-btn">
    <img src="/assets/svg/backbutton.svg" alt="backbutton" (click)="backToSearch()">
</div>