<div class="hotels-row">
    <div class="single-hotel">
        <div class="hotel-pic">
            <img src="/assets/imgs/hotelPreview1.png" alt="hotelPreview1">
            <div class="star-hotel"><img src="/assets/svg/starHotel.svg"></div>
            <div class="dots-pics">
                <img src="/assets/svg/dotWhite.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
            </div>
        </div>
        <div class="hotel-info">Hotel name | City | Country</div>
        <div class="hotel-stars">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
        </div>
        <div class="city-center">the city center : 116 m</div>
        <div class="price">$ 130 night</div>
    </div>
    <div class="single-hotel">
        <div class="hotel-pic">
            <img src="/assets/imgs/hotelPreview2.png" alt="hotelPreview2">
            <div class="star-hotel"><img src="/assets/svg/starHotel.svg"></div>
            <div class="dots-pics">
                <img src="/assets/svg/dotWhite.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
            </div>
        </div>
        <div class="hotel-info">Hotel name | City | Country</div>
        <div class="hotel-stars">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
        </div>
        <div class="city-center">the city center : 1168 m</div>
        <div class="price">$ 142 night</div>
    </div>
    <div class="single-hotel">
        <div class="hotel-pic">
            <img src="/assets/imgs/hotelPreview3.png" alt="hotelPreview3">
            <div class="star-hotel"><img src="/assets/svg/starHotel.svg"></div>
            <div class="dots-pics">
                <img src="/assets/svg/dotWhite.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
            </div>
        </div>
        <div class="hotel-info">Hotel name | City | Country</div>
        <div class="hotel-stars">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
        </div>
        <div class="city-center">the city center : 96 m</div>
        <div class="price">$ 98 night</div>
    </div>
    <div class="single-hotel">
        <div class="hotel-pic">
            <img src="/assets/imgs/hotelPreview4.png" alt="hotelPreview4">
            <div class="star-hotel"><img src="/assets/svg/starHotel.svg"></div>
            <div class="dots-pics">
                <img src="/assets/svg/dotWhite.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
            </div>
        </div>
        <div class="hotel-info">Hotel name | City | Country</div>
        <div class="hotel-stars">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
        </div>
        <div class="city-center">the city center : 106 m</div>
        <div class="price">$ 167 night</div>
    </div>
</div>

<div class="hotels-row">
    <div class="single-hotel">
        <div class="hotel-pic">
            <img src="/assets/imgs/hotelPreview5.png" alt="hotelPreview5">
            <div class="star-hotel"><img src="/assets/svg/starHotel.svg"></div>
            <div class="dots-pics">
                <img src="/assets/svg/dotWhite.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
            </div>
        </div>
        <div class="hotel-info">Hotel name | City | Country</div>
        <div class="hotel-stars">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
        </div>
        <div class="city-center">the city center : 116 m</div>
        <div class="price">$ 130 night</div>
    </div>
    <div class="single-hotel">
        <div class="hotel-pic">
            <img src="/assets/imgs/hotelPreview6.png" alt="hotelPreview6">
            <div class="star-hotel"><img src="/assets/svg/starHotel.svg"></div>
            <div class="dots-pics">
                <img src="/assets/svg/dotWhite.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
            </div>
        </div>
        <div class="hotel-info">Hotel name | City | Country</div>
        <div class="hotel-stars">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
        </div>
        <div class="city-center">the city center : 1168 m</div>
        <div class="price">$ 142 night</div>
    </div>
    <div class="single-hotel">
        <div class="hotel-pic">
            <img src="/assets/imgs/hotelPreview7.png" alt="hotelPreview7">
            <div class="star-hotel"><img src="/assets/svg/starHotel.svg"></div>
            <div class="dots-pics">
                <img src="/assets/svg/dotWhite.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
            </div>
        </div>
        <div class="hotel-info">Hotel name | City | Country</div>
        <div class="hotel-stars">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
        </div>
        <div class="city-center">the city center : 96 m</div>
        <div class="price">$ 98 night</div>
    </div>
    <div class="single-hotel">
        <div class="hotel-pic">
            <img src="/assets/imgs/hotelPreview8.png" alt="hotelPreview8">
            <div class="star-hotel"><img src="/assets/svg/starHotel.svg"></div>
            <div class="dots-pics">
                <img src="/assets/svg/dotWhite.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
                <img src="/assets/svg/dotGray.svg">
            </div>
        </div>
        <div class="hotel-info">Hotel name | City | Country</div>
        <div class="hotel-stars">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
            <img src="/assets/svg/purpleStar.svg">
        </div>
        <div class="city-center">the city center : 106 m</div>
        <div class="price">$ 167 night</div>
    </div>
</div>