<div class="info-block">
    <p>REVIEWS</p>
    <div class="info-block-content">
        <div class="small-block">
            <div class="header">
                <img src="/assets/imgs/review1.png" alt="review1">
                <div class="name-info">
                    <div class="bold-name">Name</div>
                    <div class="hotel-name">Hotel Name</div>
                </div>
                <div class="date">12 days ago</div>
            </div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur. Viverra ultricies enim interdum fermentu tor. Facilisis nulla eun. Ac netus tincidunt arcu er sed.</div>
        </div>
        <div class="small-block">
            <div class="header">
                <img src="/assets/imgs/review2.png" alt="review2">
                <div class="name-info">
                    <div class="bold-name">Name</div>
                    <div class="hotel-name">Hotel Name</div>
                </div>
                <div class="date">19 days ago</div>
            </div>
            <div class="review-text">Lorem ipsum dolor sit amet consectetur. Facilisis nulla eun. Ac netus tincidunt sed.</div>
        </div>
        <div class="small-block">
            <div class="header">
                <img src="/assets/imgs/review3.png" alt="review3">
                <div class="name-info">
                    <div class="bold-name">Name</div>
                    <div class="hotel-name">Hotel Name</div>
                </div>
                <div class="date">12 days ago</div>
            </div>
            <div class="review-text">Viverra ultricies enim interdum fermentu tor. Facilisis nulla eun. Ac netus tincidunt.</div>
        </div>
    </div>
</div>