<div class="info-block">
    <p>SAFE WITH US</p>
    <div class="info-block-content">
    <div class="small-block">
        <img src="/assets/svg/buildings.svg" alt="buildings">
        <div>We choose hotels that meet our standards</div>
    </div>
    <div class="small-block">
        <img src="/assets/svg/convertcard.svg" alt="convertcard">
        <div>Secure payment without hidden fees</div>
    </div>
    <div class="small-block">
        <img src="/assets/svg/tag.svg" alt="tag">
        <div>Сurrent prices and best deals</div>
    </div>
    <div class="small-block">
        <img src="/assets/svg/clock.svg" alt="clock">
        <div>Easy booking which will not take you long</div>
    </div>
    <div class="small-block">
        <img src="/assets/svg/directinbox.svg" alt="directinbox">
        <div>We'll promptly email booking confirmation.</div>
    </div>
    </div>
</div>